/* Carousel.css */
.swiper-button-next,
.swiper-button-prev {
  color: black; /* Arrow color */
  width: 24px; /* Width of the button */
  height: 24px; /* Height of the button */
  background-color: white; /* Background color */
  border-radius: 50%; /* Round buttons */
  display: flex; /* To center content */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 10; /* Ensure it appears above other content */
}

/* Arrow icons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 8px; /* Adjust size of the arrow icon */
  line-height: 1; /* Ensure no extra spacing */
  color: rgba(51, 65, 85, 1);
  font-weight: bold;
}

/* Style for the pagination bullets */
.swiper-pagination-bullet {
  background: black; /* Default background color */
  opacity: 0.7; /* Initial opacity */
  width: 12px; /* Width of the bullet */
  height: 3px; /* Height of the bullet */
  border-radius: 100px; /* Make it round */
  margin: 0 4px; /* Space between bullets */
  transition: background 0.3s, opacity 0.3s; /* Smooth transitions */
}

/* Style for the active bullet */
.swiper-pagination-bullet-active {
  background: white; /* Active bullet color */
  opacity: 1; /* Fully opaque */
}
